{% extends "base.html" %}

{% block title %}Sent mail - {{ user }}{% endblock title %}

{% block content %}

    <div class="container send_mail-container">

        {% if logged_in %}

            <form method="post" action="/mailsent">
              <div class="form-group">
                <label>Recipient: </label>
                <input class="form-control" name="to">
              </div>
              <div class="form-group">
                <label>Subject: </label>
                <input class="form-control" name="subject">
              </div>
              <div class="form-group">
                <label>Message: </label>
                <textarea class="form-control" name="msg" rows="7"></textarea>
              </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

        {% else %}

            <h1>Please login</h1>

        {% endif %}

    </div>

{% endblock content %}
